.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-family: var(--font-poppins);
}

.modal {
    background: lightgray;
    width: 95%;
    max-width: 500px;
    position: relative;
    padding: 20px;
}

.Country{
    margin: 3% 0 3% 0 ;
}

.flag {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.CountryName{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.icon {
    margin-right: 8px;
}

.content{

    margin-bottom: 0.5rem;
}